[Desktop Entry]
Encoding=UTF-8
Name=[config] Polybar
Exec=alacritty -e code .config/polybar/config.ini
Terminal=false
Type=Application
Categories=Utility;